Data taken from https://www.kaggle.com/neuromusic/avocado-prices

# Starting first with eploratary data analysis as well as correct importing of data

Installing Prophet seems to be very heavyweight so the docker file and the pickle file weights more than 100mb so forced to use another package.

In [1]:
data_location = 'sqlite:///../data_v2/avocado.db'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pickle

In [3]:
df = pd.read_sql('SELECT * FROM avocado', data_location)

In [4]:
df.head()

,,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.7,109149.67,130.5,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.0,71976.41,72.58,5811.16,5677.4,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.6,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

Connected to the DB and the data is displaying correctly

Now it is time for DataAnalysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0                 18249 non-null  object
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  object
 3   Total Volume  18249 non-null  object
 4   4046          18249 non-null  object
 5   4225          18249 non-null  object
 6   4770          18249 non-null  object
 7   Total Bags    18249 non-null  object
 8   Small Bags    18249 non-null  object
 9   Large Bags    18249 non-null  object
 10  XLarge Bags   18249 non-null  object
 11  type          18249 non-null  object
 12  year          18249 non-null  object
 13  region        18249 non-null  object
dtypes: object(14)
memory usage: 1.9+ MB

setting the right dtypes

In [6]:
df = df.astype({'Date': 'datetime64', 'AveragePrice' : 'float64', 'Total Volume' : 'float64', '4046' : 'float64', '4225' : 'float64', '4770' : 'float64', 'Total Bags' : 'float64', 'Small Bags' : 'float64', 'Large Bags' : 'float64', 'XLarge Bags' : 'float64', 'type' : 'category', 'year' : 'int', 'region':'category' })

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0                 18249 non-null  object
 1   Date          18249 non-null  datetime64[ns]
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  category
 12  year          18249 non-null  int32
 13  region        18249 non-null  category
dtypes: category(2), datetime64[ns](1), float64(9), int32(1), object(1)
memory usage: 1.6+ MB

In [8]:
df = df.iloc[: , 1:]

In [9]:
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [10]:
df.groupby('region')['AveragePrice'].mean().sort_values()

region
Houston                1.047929
DallasFtWorth          1.085592
SouthCentral           1.101243
CincinnatiDayton       1.209201
Nashville              1.212101
LosAngeles             1.216006
Denver                 1.218580
PhoenixTucson          1.224438
Roanoke                1.247929
Columbus               1.252781
WestTexNewMexico       1.261701
West                   1.272219
Detroit                1.276095
Louisville             1.286686
RichmondNorfolk        1.291331
NewOrleansMobile       1.304793
Indianapolis           1.313994
Portland               1.317722
TotalUS                1.319024
Atlanta                1.337959
GreatLakes             1.338550
Boise                  1.348136
Pittsburgh             1.364320
LasVegas               1.380917
California             1.395325
Southeast              1.398018
SanDiego               1.398166
SouthCarolina          1.403284
Midsouth               1.404763
Tampa                  1.408846
MiamiFtLauderdale      1.428491
StLouis                1.430621
Plains                 1.436509
Seattle                1.442574
Spokane                1.445592
NorthernNewEngland     1.477396
GrandRapids            1.505000
Orlando                1.506213
Jacksonville           1.510947
HarrisburgScranton     1.513284
BuffaloRochester       1.516834
Syracuse               1.520325
Boston                 1.530888
BaltimoreWashington    1.534231
RaleighGreensboro      1.555118
Chicago                1.556775
Albany                 1.561036
Northeast              1.601923
Charlotte              1.606036
Sacramento             1.621568
Philadelphia           1.632130
NewYork                1.727574
SanFrancisco           1.804201
HartfordSpringfield    1.818639
Name: AveragePrice, dtype: float64

So as it looks, we have Houston, Dallas, South Central as the cheapest Avacado regions. Can we use that or is there anything in common for this regions?

This is the data for the 2015 year, but let's assume this is the 2015 project as well.

My goal is not to do train test split but do CV isntead.

In [11]:
df.describe()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

I have also learnt about the Prophet from Meta/Facebook that works amazingly well with time series and seasonal data forecasting. This will be tried as the initial prediciton method.

In [12]:
X = df.drop(columns='AveragePrice')
X.head()
data = X

In [14]:
y = df.AveragePrice
y.head()

0    1.33
1    1.35
2    0.93
3    1.08
4    1.28
Name: AveragePrice, dtype: float64

I have also learnt about the Prophet from Meta/Facebook that works amazingly well with time series and seasonal data forecasting. This will be tried as the initial prediciton method. *NOT RELEVANT AS FBPROPHET IMPORT IS TOO HEAVY WEIGHT*

In [19]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import QuantileTransformer
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge

from sklearn.model_selection import cross_validate
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error, make_scorer

from sklearn.model_selection import learning_curve

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, y, train_size=0.7,test_size=0.3, random_state=0)

NameError: name 'data' is not defined

In [ ]:
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

n = (X_train.dtypes == ('float64','int64'))
numerical_cols = list(n[n].index)

NameError: name 'X_train' is not defined

In [22]:
#checking the columns containing categorical columns:
print(object_cols)

[]

In [25]:
class FeatureSelector(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self.columns = columns
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        return X[self.columns]

In [36]:
def evaluate_model(model, X, y, test_size=0.2):
    cv = TimeSeriesSplit(n_splits=int(y.shape[0] * test_size), test_size=1)
    scorer = make_scorer(mean_squared_error, greater_is_better=False, squared=False)
    
    return np.mean(cross_validate(model, X, y, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)['test_score'])
    
#     scores = []
#     for train_idx, test_idx in cv.split(X):
#         X_train, X_test, y_train, y_test = X.iloc[train_idx], X.iloc[test_idx], y.iloc[train_idx], y.iloc[test_idx]
#         model.fit(X_train, y_train)
#         score = mean_squared_error(y_test, model.predict(X_test), squared=False)
#         scores.append(score)
        
#     return np.mean(scores)

In [37]:
pipeline = Pipeline([
    ('feature_selector', FeatureSelector(['ret_SOL'])),
    ('scale', StandardScaler()),
    ('model', DecisionTreeRegressor(random_state=0))
])

evaluate_model(pipeline, X, y)

nan

In [38]:
model = DecisionTreeRegressor(random_state=0)

evaluate_model(pipeline, X, y)

nan

In [ ]:
pipeline = Pipeline([
    ('impute', SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0.)),
    ('model', DecisionTreeRegressor(random_state=0))
])

evaluate_model(pipeline, X, y)

In [ ]:
pipeline = Pipeline([
    ('feature_selector', FeatureSelector(['ret_SOL'])),
    ('impute', SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=0.)),
    ('scale', StandardScaler()),
    ('model', RandomForestRegressor(n_estimators=100, random_state=0))
])

evaluate_model(pipeline, X, y)