## Homework 2 final version

In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def get_data(token):
    
    if token=="FLOW":
        platform="kraken"
    else:
        platform="coinbase-pro"
        
    res = requests.get(
    f'https://api.cryptowat.ch/markets/{platform}/{token}usd/ohlc',
        params={
            'periods': '3600',
            'after': str(int(pd.Timestamp('2021-11-22').timestamp()))
        }
    )

    df = pd.DataFrame(
        res.json()['result']['3600'],
        columns=['ts', 'open', 'high', 'low', 'close', 'volume', 'volumeUSD']
    )
    df['ts'] = pd.to_datetime(df.ts, unit='s')
    df['token'] = token
    
    return df

In [3]:
tokens = ['ETH', 'SOL', 'AVAX', 'USDT','FLOW']

In [4]:
dfs = [
    (lambda x: x.assign(chain=np.where(x.token.isin(['ETH', 'AAVE', 'COMP']), np.full(x.shape[0], 'ETH'), x.token)))(get_data(token)) 
    for token in tokens
]

In [5]:
dfs[0]

,ts,open,high,low,close,volume,volumeUSD,token,chain
0,2021-11-22 00:00:00,4317.98,4342.24,4246.07,4262.99,7262.562789,3.123077e+07,ETH,ETH
1,2021-11-22 01:00:00,4263.04,4270.34,4212.45,4234.37,8437.946084,3.574586e+07,ETH,ETH
2,2021-11-22 02:00:00,4234.87,4246.72,4171.17,4217.89,9259.725370,3.895639e+07,ETH,ETH
3,2021-11-22 03:00:00,4217.88,4223.48,4163.58,4193.47,9259.899519,3.882032e+07,ETH,ETH
4,2021-11-22 04:00:00,4192.95,4213.59,4147.00,4168.35,7934.546906,3.315476e+07,ETH,ETH
...,...,...,...,...,...,...,...,...,...
569,2021-12-15 17:00:00,3659.57,3724.17,3643.43,3715.95,26080.393747,9.600520e+07,ETH,ETH
570,2021-12-15 18:00:00,3716.82,3741.54,3693.38,3728.75,13429.938131,4.995921e+07,ETH,ETH
571,2021-12-15 19:00:00,3728.80,3843.25,3720.82,3810.54,19300.639196,7.292436e+07,ETH,ETH
572,2021-12-15 20:00:00,3811.38,3989.00,3760.98,3972.00,62360.886127,2.444909e+08,ETH,ETH
573,2021-12-15 21:00:00,3972.22,3999.00,3967.14,3995.06,2381.154397,9.485986e+06,ETH,ETH

In [6]:
df_base = pd.concat(get_data(token) for token in tokens)

In [7]:
df_base.head()

,ts,open,high,low,close,volume,volumeUSD,token
0,2021-11-22 00:00:00,4317.98,4342.24,4246.07,4262.99,7262.562789,3.123077e+07,ETH
1,2021-11-22 01:00:00,4263.04,4270.34,4212.45,4234.37,8437.946084,3.574586e+07,ETH
2,2021-11-22 02:00:00,4234.87,4246.72,4171.17,4217.89,9259.725370,3.895639e+07,ETH
3,2021-11-22 03:00:00,4217.88,4223.48,4163.58,4193.47,9259.899519,3.882032e+07,ETH
4,2021-11-22 04:00:00,4192.95,4213.59,4147.00,4168.35,7934.546906,3.315476e+07,ETH

In [8]:
new_df_volume = df_base[["volumeUSD","token"]]
new_df_volume

        volumeUSD token
0    3.123077e+07   ETH
1    3.574586e+07   ETH
2    3.895639e+07   ETH
3    3.882032e+07   ETH
4    3.315476e+07   ETH
..            ...   ...
569  1.223179e+05  FLOW
570  6.152375e+03  FLOW
571  4.400994e+04  FLOW
572  1.938078e+05  FLOW
573  1.130550e+04  FLOW

[2870 rows x 2 columns]

In [9]:
new_df_volume.set_index("token", inplace=True)

In [10]:
new_df_volume.sort_values('volumeUSD', ascending=False)

          volumeUSD
token
ETH    3.702769e+08
ETH    2.444909e+08
ETH    2.147795e+08
ETH    1.973315e+08
ETH    1.846590e+08
...             ...
FLOW   2.028609e+03
FLOW   1.741454e+03
FLOW   1.262889e+03
FLOW   8.382021e+02
FLOW   6.389397e+02

[2870 rows x 1 columns]

In [11]:
ETHdata=get_data("ETH")
SOLdata=get_data("SOL")

In [12]:
ratios=(ETHdata["close"]/SOLdata["close"])

In [13]:
ratios=ratios.to_frame()

In [14]:
ratios

         close
0    18.471694
1    18.736150
2    18.577985
3    18.794937
4    18.891059
..         ...
569  22.997586
570  22.397585
571  22.542239
572  22.644091
573  22.706103

[574 rows x 1 columns]

In [15]:
dfs[("token"=="ETH") or ("token"=="SOL")]["ratios"]=ratios

In [16]:
dfs

[                     ts     open     high      low    close        volume  \
 0   2021-11-22 00:00:00  4317.98  4342.24  4246.07  4262.99   7262.562789
 1   2021-11-22 01:00:00  4263.04  4270.34  4212.45  4234.37   8437.946084
 2   2021-11-22 02:00:00  4234.87  4246.72  4171.17  4217.89   9259.725370
 3   2021-11-22 03:00:00  4217.88  4223.48  4163.58  4193.47   9259.899519
 4   2021-11-22 04:00:00  4192.95  4213.59  4147.00  4168.35   7934.546906
 ..                  ...      ...      ...      ...      ...           ...
 569 2021-12-15 17:00:00  3659.57  3724.17  3643.43  3715.95  26080.393747
 570 2021-12-15 18:00:00  3716.82  3741.54  3693.38  3728.75  13429.938131
 571 2021-12-15 19:00:00  3728.80  3843.25  3720.82  3810.54  19300.639196
 572 2021-12-15 20:00:00  3811.38  3989.00  3760.98  3972.00  62360.886127
 573 2021-12-15 21:00:00  3972.22  3999.00  3967.14  3995.06   2381.154397

         volumeUSD token chain     ratios
 0    3.123077e+07   ETH   ETH  18.471694
 1    3.574586e+07   ETH   ETH  18.736150
 2    3.895639e+07   ETH   ETH  18.577985
 3    3.882032e+07   ETH   ETH  18.794937
 4    3.315476e+07   ETH   ETH  18.891059
 ..            ...   ...   ...        ...
 569  9.600520e+07   ETH   ETH  22.997586
 570  4.995921e+07   ETH   ETH  22.397585
 571  7.292436e+07   ETH   ETH  22.542239
 572  2.444909e+08   ETH   ETH  22.644091
 573  9.485986e+06   ETH   ETH  22.706103

 [574 rows x 10 columns],
                      ts     open     high      low    close      volume  \
 0   2021-11-22 00:00:00  230.483  234.688  228.805  230.785   93531.805
 1   2021-11-22 01:00:00  230.752  232.269  225.052  226.000   88840.999
 2   2021-11-22 02:00:00  225.952  227.996  223.812  227.037   95224.398
 3   2021-11-22 03:00:00  227.012  227.485  221.900  223.117   73456.342
 4   2021-11-22 04:00:00  223.129  224.545  220.080  220.652   78399.621
 ..                  ...      ...      ...      ...      ...         ...
 569 2021-12-15 17:00:00  157.740  161.610  156.940  161.580   81734.805
 570 2021-12-15 18:00:00  161.560  167.900  161.260  166.480  153131.873
 571 2021-12-15 19:00:00  166.520  172.000  164.390  169.040  149999.016
 572 2021-12-15 20:00:00  168.920  178.200  166.400  175.410  422104.998
 573 2021-12-15 21:00:00  175.490  176.090  174.320  175.930   11943.711

         volumeUSD token chain
 0    2.172284e+07   SOL   SOL
 1    2.017188e+07   SOL   SOL
 2    2.153562e+07   SOL   SOL
 3    1.646345e+07   SOL   SOL
 4    1.742352e+07   SOL   SOL
 ..            ...   ...   ...
 569  1.302929e+07   SOL   SOL
 570  2.526951e+07   SOL   SOL
 571  2.521590e+07   SOL   SOL
 572  7.345113e+07   SOL   SOL
 573  2.094078e+06   SOL   SOL

 [574 rows x 9 columns],
                      ts    open    high     low   close      volume  \
 0   2021-11-22 00:00:00  131.69  133.79  127.70  128.67   96867.475
 1   2021-11-22 01:00:00  128.76  135.29  126.25  134.85  147179.928
 2   2021-11-22 02:00:00  134.81  136.87  129.92  132.54  141467.777
 3   2021-11-22 03:00:00  132.38  133.93  129.45  133.38   83917.025
 4   2021-11-22 04:00:00  133.46  137.50  132.16  136.29  138561.930
 ..                  ...     ...     ...     ...     ...         ...
 569 2021-12-15 17:00:00   86.22   95.00   86.11   94.29  270738.521
 570 2021-12-15 18:00:00   94.29   97.00   92.88   95.61  255519.077
 571 2021-12-15 19:00:00   95.57   98.76   94.69   96.43  174773.645
 572 2021-12-15 20:00:00   96.40  100.00   93.80   99.28  402786.527
 573 2021-12-15 21:00:00   99.27   99.94   99.06   99.74   22793.578

         volumeUSD token chain
 0    1.267080e+07  AVAX  AVAX
 1    1.915462e+07  AVAX  AVAX
 2    1.887837e+07  AVAX  AVAX
 3    1.106319e+07  AVAX  AVAX
 4    1.878428e+07  AVAX  AVAX
 ..            ...   ...   ...
 569  2.461128e+07  AVAX  AVAX
 570  2.420576e+07  AVAX  AVAX
 571  1.681305e+07  AVAX  AVAX
 572  3.945472e+07  AVAX  AVAX
 573  2.270389e+06  AVAX  AVAX

 [574 rows x 9 columns],
                      ts    open    high     low   close       volume  \
 0   2021-11-22 00:00:00  1.0010  1.0017  1.0009  1.0012   9987681.09
 1   2021-11-22 01:00:00  1.0012  1.0014  1.0012  1.0013   7766318.34
 2   2021-11-22 02:00:00  1.0012  1.0013  1.0011  1.0012   7979323.48
 3   2021-11-22 03:00:00  1.0012  1.0014  1.0010  1.0011  10681505.84
 4   2021-11-22 04:00:00  1.0011  1.0011  1.0008  1.0009   3567405.96
 ..                  ...     ...     ...     ...     ...          ...
 569 2021-12-15 17:00:00  1.0004  1.0005  1.0003  1.0005   1996046.81
 570 2021-12-15 18:00:00  1.0004  1.0005  1.0003  1.0004   2549941.14
 571 2021-12-15 19:00:00  1.0004  1.0004  1.0003  1.0004   2900945.46
 572 2021-12-15 20:00:00  1.0003  1.0005  1.0001  1.0004   9179131.09
 573 2021-12-15 21:00:00  1.0004  1.0004  1.0003  1.0004    404709.43

         volumeUSD token chain
 0    9.999090e+06  USDT  USDT
 1    7.775823e+06  USDT  USDT
 2    7.988793e+06  USDT  USDT
 3    1.069458e+07  USDT  USDT
 4    3.570749e+06  USDT  USDT
 ..            ...   ...   ...
 569  1.996920e+06  USDT  USDT
 570  2.551105e+06  USDT  USDT
 571  2.902028e+06  USDT  USDT
 572  9.182117e+06  USDT  USDT
 573  4.048608e+05  USDT  USDT

 [574 rows x 9 columns],
                      ts    open    high     low   close        volume  \
 0   2021-11-22 00:00:00  13.887  14.169  13.887  14.150  23261.381369
 1   2021-11-22 01:00:00  14.053  14.453  13.543  13.621  29108.788932
 2   2021-11-22 02:00:00  13.534  13.862  13.387  13.753  24737.688935
 3   2021-11-22 03:00:00  13.753  13.813  13.435  13.652  10224.587462
 4   2021-11-22 04:00:00  13.652  13.652  13.382  13.581   5998.121286
 ..                  ...     ...     ...     ...     ...           ...
 569 2021-12-15 17:00:00   8.243   8.270   8.231   8.246  14843.769471
 570 2021-12-15 18:00:00   8.271   8.362   8.271   8.361    738.473554
 571 2021-12-15 19:00:00   8.344   8.481   8.340   8.395   5228.013228
 572 2021-12-15 20:00:00   8.386   8.670   8.346   8.665  22554.459438
 573 2021-12-15 21:00:00   8.681   8.729   8.681   8.720   1297.939398

          volumeUSD token chain
 0    327475.506965  FLOW  FLOW
 1    411767.484368  FLOW  FLOW
 2    338660.037818  FLOW  FLOW
 3    139852.146013  FLOW  FLOW
 4     81263.038401  FLOW  FLOW
 ..             ...   ...   ...
 569  122317.856879  FLOW  FLOW
 570    6152.374585  FLOW  FLOW
 571   44009.944548  FLOW  FLOW
 572  193807.796422  FLOW  FLOW
 573   11305.500346  FLOW  FLOW

 [574 rows x 9 columns]]

In [17]:
df_base = pd.concat(dfs[i] for i in range(len(tokens)))

In [18]:
df_base.head()

,ts,open,high,low,close,volume,volumeUSD,token,chain,ratios
0,2021-11-22 00:00:00,4317.98,4342.24,4246.07,4262.99,7262.562789,3.123077e+07,ETH,ETH,18.471694
1,2021-11-22 01:00:00,4263.04,4270.34,4212.45,4234.37,8437.946084,3.574586e+07,ETH,ETH,18.736150
2,2021-11-22 02:00:00,4234.87,4246.72,4171.17,4217.89,9259.725370,3.895639e+07,ETH,ETH,18.577985
3,2021-11-22 03:00:00,4217.88,4223.48,4163.58,4193.47,9259.899519,3.882032e+07,ETH,ETH,18.794937
4,2021-11-22 04:00:00,4192.95,4213.59,4147.00,4168.35,7934.546906,3.315476e+07,ETH,ETH,18.891059

In [19]:
df_base.tail()

,ts,open,high,low,close,volume,volumeUSD,token,chain,ratios
569,2021-12-15 17:00:00,8.243,8.270,8.231,8.246,14843.769471,122317.856879,FLOW,FLOW,NaN
570,2021-12-15 18:00:00,8.271,8.362,8.271,8.361,738.473554,6152.374585,FLOW,FLOW,NaN
571,2021-12-15 19:00:00,8.344,8.481,8.340,8.395,5228.013228,44009.944548,FLOW,FLOW,NaN
572,2021-12-15 20:00:00,8.386,8.670,8.346,8.665,22554.459438,193807.796422,FLOW,FLOW,NaN
573,2021-12-15 21:00:00,8.681,8.729,8.681,8.720,1297.939398,11305.500346,FLOW,FLOW,NaN

In [20]:
df_base.rename(
    columns={
        'volume':'volumeBase',
        'volumeUSD':'volumeTerm'
    }
)

,ts,open,high,low,close,volumeBase,volumeTerm,token,chain,ratios
0,2021-11-22 00:00:00,4317.980,4342.240,4246.070,4262.990,7262.562789,3.123077e+07,ETH,ETH,18.471694
1,2021-11-22 01:00:00,4263.040,4270.340,4212.450,4234.370,8437.946084,3.574586e+07,ETH,ETH,18.736150
2,2021-11-22 02:00:00,4234.870,4246.720,4171.170,4217.890,9259.725370,3.895639e+07,ETH,ETH,18.577985
3,2021-11-22 03:00:00,4217.880,4223.480,4163.580,4193.470,9259.899519,3.882032e+07,ETH,ETH,18.794937
4,2021-11-22 04:00:00,4192.950,4213.590,4147.000,4168.350,7934.546906,3.315476e+07,ETH,ETH,18.891059
...,...,...,...,...,...,...,...,...,...,...
569,2021-12-15 17:00:00,8.243,8.270,8.231,8.246,14843.769471,1.223179e+05,FLOW,FLOW,NaN
570,2021-12-15 18:00:00,8.271,8.362,8.271,8.361,738.473554,6.152375e+03,FLOW,FLOW,NaN
571,2021-12-15 19:00:00,8.344,8.481,8.340,8.395,5228.013228,4.400994e+04,FLOW,FLOW,NaN
572,2021-12-15 20:00:00,8.386,8.670,8.346,8.665,22554.459438,1.938078e+05,FLOW,FLOW,NaN
573,2021-12-15 21:00:00,8.681,8.729,8.681,8.720,1297.939398,1.130550e+04,FLOW,FLOW,NaN

In [21]:
from functools import reduce

In [22]:
def df_merge(left, right):
    return pd.merge(left, right, on='ts', how='inner')

df_fat_table = reduce(
    df_merge, 
    [df_base[['ts', 'close']].rename(columns={'close': f'close_{token}'}) for df_base, token in zip(dfs, tokens)]
)

In [23]:
df_fat_table

,ts,close_ETH,close_SOL,close_AVAX,close_USDT,close_FLOW
0,2021-11-22 00:00:00,4262.99,230.785,128.67,1.0012,14.150
1,2021-11-22 01:00:00,4234.37,226.000,134.85,1.0013,13.621
2,2021-11-22 02:00:00,4217.89,227.037,132.54,1.0012,13.753
3,2021-11-22 03:00:00,4193.47,223.117,133.38,1.0011,13.652
4,2021-11-22 04:00:00,4168.35,220.652,136.29,1.0009,13.581
...,...,...,...,...,...,...
569,2021-12-15 17:00:00,3715.95,161.580,94.29,1.0005,8.246
570,2021-12-15 18:00:00,3728.75,166.480,95.61,1.0004,8.361
571,2021-12-15 19:00:00,3810.54,169.040,96.43,1.0004,8.395
572,2021-12-15 20:00:00,3972.00,175.410,99.28,1.0004,8.665
573,2021-12-15 21:00:00,3995.06,175.930,99.74,1.0004,8.720

In [24]:
df_fat_table.set_index("ts",inplace=True)

In [25]:
df_fat_table

                     close_ETH  close_SOL  close_AVAX  close_USDT  close_FLOW
ts
2021-11-22 00:00:00    4262.99    230.785      128.67      1.0012      14.150
2021-11-22 01:00:00    4234.37    226.000      134.85      1.0013      13.621
2021-11-22 02:00:00    4217.89    227.037      132.54      1.0012      13.753
2021-11-22 03:00:00    4193.47    223.117      133.38      1.0011      13.652
2021-11-22 04:00:00    4168.35    220.652      136.29      1.0009      13.581
...                        ...        ...         ...         ...         ...
2021-12-15 17:00:00    3715.95    161.580       94.29      1.0005       8.246
2021-12-15 18:00:00    3728.75    166.480       95.61      1.0004       8.361
2021-12-15 19:00:00    3810.54    169.040       96.43      1.0004       8.395
2021-12-15 20:00:00    3972.00    175.410       99.28      1.0004       8.665
2021-12-15 21:00:00    3995.06    175.930       99.74      1.0004       8.720

[574 rows x 5 columns]