## Homework 2
by Quynh Anh Pham

In [9]:
import pandas as pd
import numpy as np
import requests

1. Get the time series for the following cryptocurrencies from `cryptowat.ch` starting from 2021-11-22, hourly data
    1. ETH
    2. SOL
    3. AVAX
    4. USDT
    5. FLOW

In [10]:
def get_data(token, start_date, exchange='coinbase-pro'):
    res = requests.get(
        f'https://api.cryptowat.ch/markets/{exchange}/{token}usd/ohlc',
        params={
            'periods': '3600',
            'after': str(int(pd.Timestamp(start_date).timestamp()))
        }
    )

    df = pd.DataFrame(
        res.json()['result']['3600'],
        columns=['ts', 'open', 'high', 'low', 'close', 'volume', 'volumeUSD']
    )
    df['ts'] = pd.to_datetime(df.ts, unit='s')
    df['token'] = token
    
    return df

In [11]:
cb_tokens = ['ETH', 'SOL', 'AVAX', 'USDT']
kk_tokens = ['FLOW']
start_date = '2021-11-22'

tokens = cb_tokens + kk_tokens

In [12]:
df_cb = [get_data(token,start_date) for token in cb_tokens]
df_kk = [get_data(token,start_date,'kraken') for token in kk_tokens]

In [13]:
df_base = df_cb + df_kk

In [14]:
df_base

[                     ts     open     high      low    close        volume  \
 0   2021-11-22 00:00:00  4317.98  4342.24  4246.07  4262.99   7262.562789
 1   2021-11-22 01:00:00  4263.04  4270.34  4212.45  4234.37   8437.946084
 2   2021-11-22 02:00:00  4234.87  4246.72  4171.17  4217.89   9259.725370
 3   2021-11-22 03:00:00  4217.88  4223.48  4163.58  4193.47   9259.899519
 4   2021-11-22 04:00:00  4192.95  4213.59  4147.00  4168.35   7934.546906
 ..                  ...      ...      ...      ...      ...           ...
 685 2021-12-20 13:00:00  3814.63  3815.80  3770.17  3782.86   4682.198085
 686 2021-12-20 14:00:00  3782.85  3811.00  3766.88  3776.87   5356.147003
 687 2021-12-20 15:00:00  3777.07  3848.53  3754.80  3840.19  17507.992019
 688 2021-12-20 16:00:00  3838.73  3842.00  3794.17  3801.41   6336.438977
 689 2021-12-20 17:00:00  3801.69  3810.23  3792.71  3806.83   1287.000212

         volumeUSD token
 0    3.123077e+07   ETH
 1    3.574586e+07   ETH
 2    3.895639e+07   ETH
 3    3.882032e+07   ETH
 4    3.315476e+07   ETH
 ..            ...   ...
 685  1.773570e+07   ETH
 686  2.028810e+07   ETH
 687  6.657968e+07   ETH
 688  2.421678e+07   ETH
 689  4.893592e+06   ETH

 [690 rows x 8 columns],
                      ts     open     high      low    close      volume  \
 0   2021-11-22 00:00:00  230.483  234.688  228.805  230.785   93531.805
 1   2021-11-22 01:00:00  230.752  232.269  225.052  226.000   88840.999
 2   2021-11-22 02:00:00  225.952  227.996  223.812  227.037   95224.398
 3   2021-11-22 03:00:00  227.012  227.485  221.900  223.117   73456.342
 4   2021-11-22 04:00:00  223.129  224.545  220.080  220.652   78399.621
 ..                  ...      ...      ...      ...      ...         ...
 685 2021-12-20 13:00:00  172.560  172.690  169.990  170.280   52359.869
 686 2021-12-20 14:00:00  170.300  171.690  169.880  170.070   52400.036
 687 2021-12-20 15:00:00  170.040  174.110  168.300  173.210  107929.250
 688 2021-12-20 16:00:00  173.210  173.210  169.750  170.010  105760.334
 689 2021-12-20 17:00:00  169.950  170.050  169.370  169.910   10529.416

         volumeUSD token
 0    2.172284e+07   SOL
 1    2.017188e+07   SOL
 2    2.153562e+07   SOL
 3    1.646345e+07   SOL
 4    1.742352e+07   SOL
 ..            ...   ...
 685  8.947169e+06   SOL
 686  8.945045e+06   SOL
 687  1.842388e+07   SOL
 688  1.813690e+07   SOL
 689  1.787711e+06   SOL

 [690 rows x 8 columns],
                      ts    open    high     low   close      volume  \
 0   2021-11-22 00:00:00  131.69  133.79  127.70  128.67   96867.475
 1   2021-11-22 01:00:00  128.76  135.29  126.25  134.85  147179.928
 2   2021-11-22 02:00:00  134.81  136.87  129.92  132.54  141467.777
 3   2021-11-22 03:00:00  132.38  133.93  129.45  133.38   83917.025
 4   2021-11-22 04:00:00  133.46  137.50  132.16  136.29  138561.930
 ..                  ...     ...     ...     ...     ...         ...
 685 2021-12-20 13:00:00  104.25  105.29  103.08  103.42   53933.341
 686 2021-12-20 14:00:00  103.48  104.57  102.57  103.07   45321.780
 687 2021-12-20 15:00:00  103.03  104.76  101.00  104.74   97487.032
 688 2021-12-20 16:00:00  104.75  108.59  103.73  103.96  141483.819
 689 2021-12-20 17:00:00  103.96  104.75  103.25  103.25   17528.125

         volumeUSD token
 0    1.267080e+07  AVAX
 1    1.915462e+07  AVAX
 2    1.887837e+07  AVAX
 3    1.106319e+07  AVAX
 4    1.878428e+07  AVAX
 ..            ...   ...
 685  5.625570e+06  AVAX
 686  4.698991e+06  AVAX
 687  9.981248e+06  AVAX
 688  1.498381e+07  AVAX
 689  1.818441e+06  AVAX

 [690 rows x 8 columns],
                      ts    open    high     low   close       volume  \
 0   2021-11-22 00:00:00  1.0010  1.0017  1.0009  1.0012   9987681.09
 1   2021-11-22 01:00:00  1.0012  1.0014  1.0012  1.0013   7766318.34
 2   2021-11-22 02:00:00  1.0012  1.0013  1.0011  1.0012   7979323.48
 3   2021-11-22 03:00:00  1.0012  1.0014  1.0010  1.0011  10681505.84
 4   2021-11-22 04:00:00  1.0011  1.0011  1.0008  1.0009   3567405.96
 ..                  ...     ...     ...     ...     ...          ...
 685 2021-12-20 13:00:00  1.0002  1.0003  1.0001  1.0003   1900757.86
 686 2021-12-20 14:00:00  1.0003  1.0003  1.0002  1.0002   2039519.59
 687 2021-12-20 15:00:00  1.0003  1.0003  1.0001  1.0002   3947974.22
 688 2021-12-20 16:00:00  1.0002  1.0003  1.0001  1.0002   2721014.88
 689 2021-12-20 17:00:00  1.0001  1.0002  1.0000  1.0002    445521.60

         volumeUSD token
 0    9.999090e+06  USDT
 1    7.775823e+06  USDT
 2    7.988793e+06  USDT
 3    1.069458e+07  USDT
 4    3.570749e+06  USDT
 ..            ...   ...
 685  1.901157e+06  USDT
 686  2.040027e+06  USDT
 687  3.948786e+06  USDT
 688  2.721629e+06  USDT
 689  4.455811e+05  USDT

 [690 rows x 8 columns],
                      ts    open    high     low   close        volume  \
 0   2021-11-22 00:00:00  13.887  14.169  13.887  14.150  23261.381369
 1   2021-11-22 01:00:00  14.053  14.453  13.543  13.621  29108.788932
 2   2021-11-22 02:00:00  13.534  13.862  13.387  13.753  24737.688935
 3   2021-11-22 03:00:00  13.753  13.813  13.435  13.652  10224.587462
 4   2021-11-22 04:00:00  13.652  13.652  13.382  13.581   5998.121286
 ..                  ...     ...     ...     ...     ...           ...
 685 2021-12-20 13:00:00   8.151   8.151   8.040   8.050   8386.948252
 686 2021-12-20 14:00:00   8.034   8.102   8.034   8.082   9405.328266
 687 2021-12-20 15:00:00   8.064   8.093   8.011   8.093  28745.660629
 688 2021-12-20 16:00:00   8.094   8.094   8.065   8.065   1810.701306
 689 2021-12-20 17:00:00   8.047   8.047   8.042   8.042    119.748030

          volumeUSD token
 0    327475.506965  FLOW
 1    411767.484368  FLOW
 2    338660.037818  FLOW
 3    139852.146013  FLOW
 4     81263.038401  FLOW
 ..             ...   ...
 685   67903.921317  FLOW
 686   75974.829100  FLOW
 687  231373.426846  FLOW
 688   14628.336512  FLOW
 689     963.016155  FLOW

 [690 rows x 8 columns]]

In [15]:
df = pd.concat(df_base, keys='token').set_index('ts')

df.head()

,open,high,low,close,volume,volumeUSD,token
ts,,,,,,,
2021-11-22 00:00:00,4317.98,4342.24,4246.07,4262.99,7262.562789,3.123077e+07,ETH
2021-11-22 01:00:00,4263.04,4270.34,4212.45,4234.37,8437.946084,3.574586e+07,ETH
2021-11-22 02:00:00,4234.87,4246.72,4171.17,4217.89,9259.725370,3.895639e+07,ETH
2021-11-22 03:00:00,4217.88,4223.48,4163.58,4193.47,9259.899519,3.882032e+07,ETH
2021-11-22 04:00:00,4192.95,4213.59,4147.00,4168.35,7934.546906,3.315476e+07,ETH

2. Get the total USD volume traded for each token in a dataframe, sorted from highest volume to lowest volume

In [ ]:
df_base.groupby('token')['volumeUSD'].sum().to_frame().sort_values('volumeUSD',ascending=False)

3. Add a column that calculates the close price ratio between ETH and SOL for each hour (i.e. close price of ETH / close price of SOL for each period)

In [ ]:
# adding the ratio column to the existing data frame
df['eth_sol_close_ratio'] = df[df['token']=='ETH']['close'] / df[df['token'] == 'SOL']['close']

In [ ]:
# removing the values from every tokens other than ETH
df['eth_sol_close_ratio'].loc[df.token != "ETH"] = np.nan

In [ ]:
df[df.token == "ETH"]

In [ ]:
df[df.token != "ETH"]

In [ ]:
# Another view

eth_sol = df[df.token=="ETH"]["close"].rename("close_ETH").to_frame().join(
    df[df.token=="SOL"]["close"].rename("close_SOL").to_frame()
)
eth_sol['close_ratio']= eth_sol['close_ETH']/eth_sol['close_SOL']
eth_sol

4. Change the name of the `volume` and `volumeUSD` columns to `volumeBase` and `volumeTerm`

In [ ]:
df.rename(
columns={
    "volume":"volumeBase",
    "volumeUSD": "volumeTerm"
}
)

5. Create a fat table indexed by the timestamp, and each column is the close price of each token (i.e. this should be a table of  200 rows and 5 columns)

In [ ]:
# not sure why this is not working 
# df_fat = pd.DataFrame()

for tok in tokens:
    cls_coin = df[df.token == tok]['close'].rename(f'close_{tok}').to_frame()
    if tok == tokens[0]:
        df_fat = cls_coin
    df_fat.merge(cls_coin, on='ts', how='left')
#     print(df_fat)

In [ ]:
df_fat.head()

In [ ]:
# redo another method

def clean_dataframe(original_df):
    cleaned_df = original_df.set_index('ts')['close'].rename(f'close_{original_df.token[0]}').to_frame()
    return cleaned_df

In [ ]:
cleaned_dataframes = [clean_dataframe(original_df) for original_df in df_base]

In [ ]:
import functools

In [ ]:
df_fat = functools.reduce(lambda a,b: a.join(b), cleaned_dataframes)
df_fat

6. Calculate the hour by hour log return of the close price of each token (return is calculated by np.log(price_t / price_{t-1}))

In [ ]:
df_returns = pd.DataFrame()

for tok in tokens:
    df_returns[f'log_returns_{tok}'] = np.log(df_fat[f'close_{tok}']/df_fat[f'close_{tok}'].shift(1))
    
df_returns


[Stretch] calculate the correlation of the tokens using the table above

In [ ]:
df_returns.corr()


[Stretch] visualize the correlation in a matplpotlib plot

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.matshow(df_returns.corr())
plt.show()