# Ingesting Data

In python there are multiple ways to ingest data into a pandas dataframe.  This is because we often will work with data from various sources, even in a single project, and thus being able to easily ingest and format data is crucial to being productive.

We will be looking at 6 different ways to ingest data today:
- via csv
- via JSON
- via API
- via google sheets
- via SQL

## CSV ingestion

One of the most common data formats you'll deal with in the real world is csvs.  CSVs are an easy, text based representation of tabular data.  It can be easily saved (it's just a text file), passed around and while it's not the most efficient way to store data, it is less verbose than other formats like JSON. 

There are a few ways to read csv data into a pandas DataFrame.  The easiest way is to use `.read_csv`, e.g.:

In [ ]:
import pandas as pd

In [ ]:
market_caps = pd.read_csv('data/market_caps.csv')
market_caps.head()

We can also see that `.read_csv` will smartly try to format columns for us.  E.g. it can detect that MarketCap, Price and VolumeUSD are floats, and Rank is an integer

In [ ]:
market_caps.dtypes

However, we can add a bit more customization to this.  For example, let's say we wanted custom names and to use rank as an index.  We can do so directly from `.read_csv`:

In [ ]:
market_caps_custom = pd.read_csv(
    'data/market_caps.csv',
    header=None,
    skiprows=1,
    names=['rank', 'name', 'sym', 'market_size', 'price', 'volume_usd'],
    index_col=0
)
market_caps_custom.head()

## JSON ingestion

JSONs have similar properties to csvs, in that they are simple text files that can be passed around easily, however they can be a bit harder to work with for data analysis.  

While a JSON can represent a table, it can also represent any arbitrary bundle of data.  This means that we may need to parse the JSON first and extract out the relevant values before we can convert it into a pandas DataFrame.

Let's start with a simple example where the JSON is nicely formatted, and represents a table.  In this case, like with `.read_csv`, ad can simply call `.read_json`

In [ ]:
import json

In [ ]:
market_caps_json = pd.read_json('data/market_caps.json', orient='columns')

In [ ]:
market_caps_json

However, this won't work with a more complex json

In [ ]:
ts = pd.read_json('data/payload.json', orient='columns')
ts

This isn't what we're looking for.  What if we tried the other way:

In [ ]:
ts = pd.read_json('data/payload.json', orient='index')
ts

Unfortunately this doesn't help us either.  This is because in this case the JSON file is structured as a dictionary only, and not as a table.  Pandas will still try to read in the key/value pairs as a table and make things work, but in this case we won't be able to use it.

Instead, we will need to first get down to the key we care about, then pass that to pandas, i.e.:

In [ ]:
with open('data/payload.json', 'r') as file:
    json_data = json.load(file)

In [ ]:
(lambda x: x.assign(ts=pd.to_datetime(x.ts, unit='s')))(
    pd.DataFrame(
        json_data['result']['3600'],
        columns=['ts', 'open', 'high', 'low', 'close', 'volume', 'volumeUSD']
    )
)

## API Ingestion

In [ ]:
import requests
import pandas as pd

we've mostly been using API for data retrieval in this course.  The majority of the time you'll be using the request package.  Here is what we have been using in class so far, but lets dig into what this means a little more

In [ ]:
res = requests.get(
    f'https://api.cryptowat.ch/markets/coinbase-pro/btcusd/ohlc',
    params={
        'periods': '3600',
        'after': str(int(pd.Timestamp('2021-12-01').timestamp()))
    }
)

most APIs that we will hit will be REST APIs (http based APIs). For these there are two types of calls that you can do, either `get` requests or `post` requests.  The main difference is that `get` requests will take in parameters directly in the URL, while `post` parameters will allow you to pass in data (usually called a payload) into request.

For many apis you will also need to pass in an `Authorization` header if it needs authentication.

Once we have called the API with our request, we will get a response.  Firstly, we can check if the response is successful by looking at the status code.  Usually REST APIs will denote success with a status code of `200`, and a status code of `400`, `500` or most other codes will mean failure

In [ ]:
res.status_code

We can see above that the status code is successful, so now we can take a look at the content of our response

In [ ]:
res.text

as you can see, all responses that is passed back from an API call can be read as text.  However in our case, we know ahead of time that the response body is a json, and so we can use `.json` method in the response object to convert the text into a python dict, which would be much easier for us to use

In [ ]:
res.json()

finally, we can use the same technique as the JSON section and pull the relevant information we need from the JSON and load it into a DataFrame

In [ ]:
(lambda x: x.assign(ts=pd.to_datetime(x.ts, unit='s')))(
    pd.DataFrame(
        res.json()['result']['3600'],
        columns=['ts', 'open', 'high', 'low', 'close', 'volume', 'volumeUSD']
    )
)

## Google sheets ingestion

In [ ]:
import os
import pandas as pd
import gspread

another useful source for ingestion is google sheets.  While you an ingest larger data sets, where google sheets really shines is for getting tabular information for summary data, or especially configs.

A good example of this is running a model where certain parameters (e.g. priors for coefficients) are set by domain experts, while the model is developed by data scientists and will take these priors as an input to generate the final result.  In that situation the domain experts probably work much better in a spreadsheet setting, while the data scientists will prefer code.  We can leverage google sheets to allow the domain experts to enter and update the coefficients, then we can programatically read the values and join against the rest of our data.

Example usage for google sheets using the library gspread is below, and you can find the setup information here: https://github.com/burnash/gspread

In [ ]:
gc = gspread.service_account()

In [ ]:
sheet = gc.open('market_caps').worksheet('Sheet1')

In [ ]:
data = sheet.get_all_records()

In [ ]:
pd.DataFrame(data)

## SQL Ingestion

one of the most common ways we will be accessing data is via SQL.  

For our examples, we will look at how to access a sql database, read, write and join it using sqlite

## SQLite

SQLite is a powerful, file-based sql database.  It's build as a local database for single reader/writer functionality, and has most of the common SQL functionality out of the box.  We can learn about most python<>sql interactions with SQLite as the interaction patterns carries over to all flavors of sql.

The two key objects for interacting with any SQL database are the `connection` and the `cursor`.  The connection represents a connection to a SQL database, while the cursor represents an execution object for that connection.  For example:

In [1]:
import sqlite3
import pandas as pd

%load_ext sql

In [2]:
conn = sqlite3.connect('data/data.db')

in the above, we create a connection to the SQL database at `data/data.db`.  The connection object can save changes with `.commit` or close the connection with `.close`.  We can also create a cursor object from the connection to use for querying:

In [3]:
cur = conn.cursor()

Now that we have the cursor object, we can start executing SQL queries.  For example, let's take a look at what tables we have in this database:

In [4]:
for row in cur.execute('SELECT name FROM sqlite_master'):
    print(row)

('ohlc',)
('market_caps',)

or even the schema itself:

In [5]:
for row in cur.execute('SELECT name, sql FROM sqlite_master'):
    print(row)

('ohlc', 'CREATE TABLE "ohlc" (\n"ts" TIMESTAMP,\n  "open" REAL,\n  "high" REAL,\n  "low" REAL,\n  "close" REAL,\n  "volume" REAL,\n  "volumeUSD" REAL,\n  "token" TEXT,\n  "chain" TEXT\n)')
('market_caps', 'CREATE TABLE market_caps (\n\t"Rank" BIGINT, \n\t"Name" TEXT, \n\t"Symbol" TEXT, \n\t"MarketCap" FLOAT, \n\t"Price" FLOAT, \n\t"VolumeUSD" FLOAT\n)')

Most of the time though, we want to pull information from the database.  For example, let's pull some data from the `ohlc` table:

In [6]:
for row in cur.execute("SELECT * FROM ohlc WHERE token = 'BTC' LIMIT 5"):
    print(row)

('2021-11-01 00:00:00', 61421.37, 61669.14, 61239.6, 61343.68, 256.43386884, 15757506.49252652, 'BTC', 'BTC')
('2021-11-01 01:00:00', 61346.17, 61709.82, 61171.22, 61610.93, 332.48118498, 20445578.51330501, 'BTC', 'BTC')
('2021-11-01 02:00:00', 61610.94, 61779.87, 61299.89, 61333.17, 314.25071995, 19353904.091577783, 'BTC', 'BTC')
('2021-11-01 03:00:00', 61333.17, 61457.28, 60050.0, 60589.06, 1059.93135838, 64146246.7043883, 'BTC', 'BTC')
('2021-11-01 04:00:00', 60590.23, 60655.0, 59752.92, 59971.89, 621.41987775, 37447441.40394106, 'BTC', 'BTC')

we can also also get all the data at once instead of getting data row by row:

In [7]:
cur.execute("SELECT * FROM ohlc WHERE token = 'BTC' LIMIT 5")
data = cur.fetchall()
data

[('2021-11-01 00:00:00',
  61421.37,
  61669.14,
  61239.6,
  61343.68,
  256.43386884,
  15757506.49252652,
  'BTC',
  'BTC'),
 ('2021-11-01 01:00:00',
  61346.17,
  61709.82,
  61171.22,
  61610.93,
  332.48118498,
  20445578.51330501,
  'BTC',
  'BTC'),
 ('2021-11-01 02:00:00',
  61610.94,
  61779.87,
  61299.89,
  61333.17,
  314.25071995,
  19353904.091577783,
  'BTC',
  'BTC'),
 ('2021-11-01 03:00:00',
  61333.17,
  61457.28,
  60050.0,
  60589.06,
  1059.93135838,
  64146246.7043883,
  'BTC',
  'BTC'),
 ('2021-11-01 04:00:00',
  60590.23,
  60655.0,
  59752.92,
  59971.89,
  621.41987775,
  37447441.40394106,
  'BTC',
  'BTC')]

And because it's a list of tuples, we can simply create a pandas DataFrame and add in columns to get our data

In [8]:
pd.DataFrame(
    data,
    columns=['ts', 'open', 'high', 'low', 'close', 'volume', 'volumeUSD', 'token', 'chain']
)

,ts,open,high,low,close,volume,volumeUSD,token,chain
0,2021-11-01 00:00:00,61421.37,61669.14,61239.60,61343.68,256.433869,1.575751e+07,BTC,BTC
1,2021-11-01 01:00:00,61346.17,61709.82,61171.22,61610.93,332.481185,2.044558e+07,BTC,BTC
2,2021-11-01 02:00:00,61610.94,61779.87,61299.89,61333.17,314.250720,1.935390e+07,BTC,BTC
3,2021-11-01 03:00:00,61333.17,61457.28,60050.00,60589.06,1059.931358,6.414625e+07,BTC,BTC
4,2021-11-01 04:00:00,60590.23,60655.00,59752.92,59971.89,621.419878,3.744744e+07,BTC,BTC

finally, we can close the connection

In [9]:
conn.close()

after closing the connection, as expected the cursor will stop working, and no queries can be executed

In [10]:
cur.execute("SELECT * FROM ohlc WHERE token = 'BTC' LIMIT 5")
cur.fetchall()

ProgrammingError: Cannot operate on a closed database.

## SQL Basics

SQL is a very flexible language, and most data analysis tools (including pandas) borrows a lot of core concepts that SQL has when working with data.  In this section we'll look at a few basic SQL functions that will help us create the datasets that we need before we pull them to python side to work on them.

Firstly, let's look at basic querying.  We can query for all columns using `*`, or select the specific columns.  The general syntax is `SELECT [columns | *] FROM [table_name] WHERE [conditions...]`

In [11]:
%%sql sqlite:///data/data.db

SELECT * FROM ohlc WHERE token = 'BTC' LIMIT 10

Done.

[('2021-11-01 00:00:00', 61421.37, 61669.14, 61239.6, 61343.68, 256.43386884, 15757506.49252652, 'BTC', 'BTC'),
 ('2021-11-01 01:00:00', 61346.17, 61709.82, 61171.22, 61610.93, 332.48118498, 20445578.51330501, 'BTC', 'BTC'),
 ('2021-11-01 02:00:00', 61610.94, 61779.87, 61299.89, 61333.17, 314.25071995, 19353904.091577783, 'BTC', 'BTC'),
 ('2021-11-01 03:00:00', 61333.17, 61457.28, 60050.0, 60589.06, 1059.93135838, 64146246.7043883, 'BTC', 'BTC'),
 ('2021-11-01 04:00:00', 60590.23, 60655.0, 59752.92, 59971.89, 621.41987775, 37447441.40394106, 'BTC', 'BTC'),
 ('2021-11-01 05:00:00', 59965.41, 60742.86, 59500.0, 60553.55, 661.72389005, 39833813.396604635, 'BTC', 'BTC'),
 ('2021-11-01 06:00:00', 60553.1, 60904.72, 60492.17, 60641.61, 318.17625599, 19311369.345948238, 'BTC', 'BTC'),
 ('2021-11-01 07:00:00', 60641.61, 60958.86, 60316.57, 60763.26, 222.95916407, 13522129.279322177, 'BTC', 'BTC'),
 ('2021-11-01 08:00:00', 60764.55, 62346.78, 60760.94, 62199.07, 774.950337, 47963610.55266254, 'BTC', 'BTC'),
 ('2021-11-01 09:00:00', 62199.06, 62444.44, 61687.47, 61952.43, 469.16788183, 29124466.126736794, 'BTC', 'BTC')]

In [12]:
%%sql

SELECT ts, token, close FROM ohlc WHERE token = 'BTC' LIMIT 10

 * sqlite:///data/data.db
Done.

[('2021-11-01 00:00:00', 'BTC', 61343.68),
 ('2021-11-01 01:00:00', 'BTC', 61610.93),
 ('2021-11-01 02:00:00', 'BTC', 61333.17),
 ('2021-11-01 03:00:00', 'BTC', 60589.06),
 ('2021-11-01 04:00:00', 'BTC', 59971.89),
 ('2021-11-01 05:00:00', 'BTC', 60553.55),
 ('2021-11-01 06:00:00', 'BTC', 60641.61),
 ('2021-11-01 07:00:00', 'BTC', 60763.26),
 ('2021-11-01 08:00:00', 'BTC', 62199.07),
 ('2021-11-01 09:00:00', 'BTC', 61952.43)]

In addition, we can also aggregate very easily using the `GROUP BY` clause

In [13]:
%%sql

SELECT 
    token, 
    SUM(volumeUSD) / 1e9 AS volumeUSD, 
    SUM(volume) AS volume, 
    AVG(close) AS avg_close 
FROM ohlc 
GROUP BY 1 
ORDER BY 2 DESC

 * sqlite:///data/data.db
Done.

[('BTC', 36.91168377712319, 653381.7930756502, 57482.73666035943),
 ('ETH', 36.7672128316091, 8535848.220020017, 4357.101173131508),
 ('SOL', 14.103547730604696, 66856402.84900005, 212.4222913907284),
 ('ADA', 8.013143748039637, 4632156079.370003, 1.734872469252601),
 ('AVAX', 5.6948242103178215, 56042969.63499993, 97.22946073793746),
 ('DOT', 4.524001542657533, 116315220.71699989, 39.705614947965955),
 ('USDT', 3.8152797801326943, 3812280938.9399996, 1.000682686849576),
 ('ATOM', 2.5789596247771, 87669903.79999998, 29.796687795648044),
 ('CRV', 1.1692425884694824, 265198928.1599997, 4.252681078524118),
 ('AAVE', 0.566556797566334, 2243814.7049999996, 260.46371333964044),
 ('COMP', 0.3538457567944997, 1216066.601, 290.20356669820313)]

In addition, like with pandas we can do joins.  The notation is shown below:

In [14]:
%%sql 

SELECT
    ts,
    token,
    close,
    MarketCap
FROM
    ohlc
    JOIN market_caps ON ohlc.token = market_caps.Symbol
LIMIT 20

 * sqlite:///data/data.db
Done.

[('2021-11-01 00:00:00', 'BTC', 61343.68, 932695365142.0),
 ('2021-11-01 01:00:00', 'BTC', 61610.93, 932695365142.0),
 ('2021-11-01 02:00:00', 'BTC', 61333.17, 932695365142.0),
 ('2021-11-01 03:00:00', 'BTC', 60589.06, 932695365142.0),
 ('2021-11-01 04:00:00', 'BTC', 59971.89, 932695365142.0),
 ('2021-11-01 05:00:00', 'BTC', 60553.55, 932695365142.0),
 ('2021-11-01 06:00:00', 'BTC', 60641.61, 932695365142.0),
 ('2021-11-01 07:00:00', 'BTC', 60763.26, 932695365142.0),
 ('2021-11-01 08:00:00', 'BTC', 62199.07, 932695365142.0),
 ('2021-11-01 09:00:00', 'BTC', 61952.43, 932695365142.0),
 ('2021-11-01 10:00:00', 'BTC', 61982.56, 932695365142.0),
 ('2021-11-01 11:00:00', 'BTC', 62289.99, 932695365142.0),
 ('2021-11-01 12:00:00', 'BTC', 61852.16, 932695365142.0),
 ('2021-11-01 13:00:00', 'BTC', 61876.37, 932695365142.0),
 ('2021-11-01 14:00:00', 'BTC', 61997.78, 932695365142.0),
 ('2021-11-01 15:00:00', 'BTC', 61486.05, 932695365142.0),
 ('2021-11-01 16:00:00', 'BTC', 61580.5, 932695365142.0),
 ('2021-11-01 17:00:00', 'BTC', 61057.76, 932695365142.0),
 ('2021-11-01 18:00:00', 'BTC', 60781.09, 932695365142.0),
 ('2021-11-01 19:00:00', 'BTC', 60590.49, 932695365142.0)]

we can also get much fancier with our querying, using CTEs (common table expressions) and joins

In [15]:
%%sql

WITH

volume_summaries AS (
SELECT 
    token, 
    SUM(volumeUSD) / 1e9 AS volumeUSD
FROM ohlc 
GROUP BY 1 
ORDER BY 2 DESC
),

token_caps AS (
SELECT
    Symbol AS token,
    MarketCap / 1e9 AS market_cap
FROM
    market_caps
)

SELECT
    *,
    ROUND(100 * volumeUSD / market_cap) AS float_traded_total
FROM
    token_caps
    JOIN volume_summaries USING(token)

 * sqlite:///data/data.db
Done.

[('BTC', 932.695365142, 36.91168377712319, 4.0),
 ('ETH', 498.007875686, 36.7672128316091, 7.0),
 ('USDT', 75.159692181, 3.8152797801326943, 5.0),
 ('SOL', 59.983315118, 14.103547730604696, 24.0),
 ('ADA', 45.909141522, 8.013143748039637, 17.0),
 ('DOT', 27.958507598, 4.524001542657533, 16.0),
 ('AVAX', 20.824940381, 5.6948242103178215, 27.0),
 ('ATOM', 5.558535259, 2.5789596247771, 46.0),
 ('AAVE', 2.572684839, 0.566556797566334, 22.0),
 ('CRV', 1.56683365, 1.1692425884694824, 75.0),
 ('COMP', 1.311341342, 0.3538457567944997, 27.0)]

**note** for the magic function that we used `%%sql`, we can actually convert the data to a DataFrame instead of just displaying it on output

In [16]:
%%sql result <<

SELECT
    ts,
    token,
    close,
    MarketCap
FROM
    ohlc
    JOIN market_caps ON ohlc.token = market_caps.Symbol
LIMIT 20

 * sqlite:///data/data.db
Done.
Returning data to local variable result

In [17]:
result.DataFrame().head()

                    ts token     close     MarketCap
0  2021-11-01 00:00:00   BTC  61343.68  9.326954e+11
1  2021-11-01 01:00:00   BTC  61610.93  9.326954e+11
2  2021-11-01 02:00:00   BTC  61333.17  9.326954e+11
3  2021-11-01 03:00:00   BTC  60589.06  9.326954e+11
4  2021-11-01 04:00:00   BTC  59971.89  9.326954e+11

## SQL and Pandas

We saw above how to use cursors to access the database, fetch data with SQL queries and convert the result to a dataframe.  However, we can do this just as easily with pandas directly using the `.read_sql` method.

In [18]:
pd.read_sql("SELECT * FROM ohlc WHERE token = 'BTC' LIMIT 10", 'sqlite:///data/data.db')

,ts,open,high,low,close,volume,volumeUSD,token,chain
0,2021-11-01 00:00:00,61421.37,61669.14,61239.60,61343.68,256.433869,1.575751e+07,BTC,BTC
1,2021-11-01 01:00:00,61346.17,61709.82,61171.22,61610.93,332.481185,2.044558e+07,BTC,BTC
2,2021-11-01 02:00:00,61610.94,61779.87,61299.89,61333.17,314.250720,1.935390e+07,BTC,BTC
3,2021-11-01 03:00:00,61333.17,61457.28,60050.00,60589.06,1059.931358,6.414625e+07,BTC,BTC
4,2021-11-01 04:00:00,60590.23,60655.00,59752.92,59971.89,621.419878,3.744744e+07,BTC,BTC
5,2021-11-01 05:00:00,59965.41,60742.86,59500.00,60553.55,661.723890,3.983381e+07,BTC,BTC
6,2021-11-01 06:00:00,60553.10,60904.72,60492.17,60641.61,318.176256,1.931137e+07,BTC,BTC
7,2021-11-01 07:00:00,60641.61,60958.86,60316.57,60763.26,222.959164,1.352213e+07,BTC,BTC
8,2021-11-01 08:00:00,60764.55,62346.78,60760.94,62199.07,774.950337,4.796361e+07,BTC,BTC
9,2021-11-01 09:00:00,62199.06,62444.44,61687.47,61952.43,469.167882,2.912447e+07,BTC,BTC

or if we don't want ot open/close the connection everytime, we can also create a connection first, then pass in the connection

In [19]:
conn = sqlite3.connect('data/data.db')

In [20]:
pd.read_sql("SELECT * FROM ohlc WHERE token = 'BTC' LIMIT 10", conn)

,ts,open,high,low,close,volume,volumeUSD,token,chain
0,2021-11-01 00:00:00,61421.37,61669.14,61239.60,61343.68,256.433869,1.575751e+07,BTC,BTC
1,2021-11-01 01:00:00,61346.17,61709.82,61171.22,61610.93,332.481185,2.044558e+07,BTC,BTC
2,2021-11-01 02:00:00,61610.94,61779.87,61299.89,61333.17,314.250720,1.935390e+07,BTC,BTC
3,2021-11-01 03:00:00,61333.17,61457.28,60050.00,60589.06,1059.931358,6.414625e+07,BTC,BTC
4,2021-11-01 04:00:00,60590.23,60655.00,59752.92,59971.89,621.419878,3.744744e+07,BTC,BTC
5,2021-11-01 05:00:00,59965.41,60742.86,59500.00,60553.55,661.723890,3.983381e+07,BTC,BTC
6,2021-11-01 06:00:00,60553.10,60904.72,60492.17,60641.61,318.176256,1.931137e+07,BTC,BTC
7,2021-11-01 07:00:00,60641.61,60958.86,60316.57,60763.26,222.959164,1.352213e+07,BTC,BTC
8,2021-11-01 08:00:00,60764.55,62346.78,60760.94,62199.07,774.950337,4.796361e+07,BTC,BTC
9,2021-11-01 09:00:00,62199.06,62444.44,61687.47,61952.43,469.167882,2.912447e+07,BTC,BTC

Since the data coming back from sql will always be in a tabular form and will have type information for each column, this means that the data set will (almost) always convert nicely into a pandas dataframe.  In fact, we can also turn the schema lookup into a table:

In [21]:
schema = pd.read_sql('SELECT name, sql FROM sqlite_master', conn)
schema

          name                                                sql
0         ohlc  CREATE TABLE "ohlc" (\n"ts" TIMESTAMP,\n  "ope...
1  market_caps  CREATE TABLE market_caps (\n\t"Rank" BIGINT, \...

In [22]:
schema.sql[0]

'CREATE TABLE "ohlc" (\n"ts" TIMESTAMP,\n  "open" REAL,\n  "high" REAL,\n  "low" REAL,\n  "close" REAL,\n  "volume" REAL,\n  "volumeUSD" REAL,\n  "token" TEXT,\n  "chain" TEXT\n)'

We can actually use the queries above as is, and load it directly into a pandas DataFrame:

In [23]:
summaries = pd.read_sql('''
WITH

volume_summaries AS (
SELECT 
    token, 
    SUM(volumeUSD) / 1e9 AS volumeUSD
FROM ohlc 
GROUP BY 1 
ORDER BY 2 DESC
),

token_caps AS (
SELECT
    Symbol AS token,
    MarketCap / 1e9 AS market_cap
FROM
    market_caps
)

SELECT
    *,
    ROUND(100 * volumeUSD / market_cap) AS float_traded_total
FROM
    token_caps
    JOIN volume_summaries USING(token)
''', conn)
summaries

   token  market_cap  volumeUSD  float_traded_total
0    BTC  932.695365  36.911684                 4.0
1    ETH  498.007876  36.767213                 7.0
2   USDT   75.159692   3.815280                 5.0
3    SOL   59.983315  14.103548                24.0
4    ADA   45.909142   8.013144                17.0
5    DOT   27.958508   4.524002                16.0
6   AVAX   20.824940   5.694824                27.0
7   ATOM    5.558535   2.578960                46.0
8   AAVE    2.572685   0.566557                22.0
9    CRV    1.566834   1.169243                75.0
10  COMP    1.311341   0.353846                27.0

We can also write back to our SQL database very easily, using `.to_sql`.  This allows us to process data in python, and once we're ready we can now save the results back down into a SQL database (which can be used for other people for example, or used by us later if we want to join against other datasets)

In [24]:
summaries.to_sql('summaries', conn, if_exists='fail')

notice that we set `if_exists` equal to `fail` (this is also the default option).  This prevents accidental overwrites, as if we try to run the command again it will detect the table already existing and fail.  If this is not the desired behavior we can also use `replace` or `append` options, which will either rewrite the table everytime, or append the data to the bottom.

In [25]:
summaries.to_sql('summaries', conn, if_exists='replace')

lastly, if we want to drop any tables, we can just use a cursor and issue a drop command

In [26]:
conn.cursor().execute('DROP TABLE summaries')
conn.commit()