In [1]:
import numpy as np
import pandas as pd

In [70]:
df = pd.read_csv("../data/data.csv",index_col=[0,1])
df.head()

                       target     f_0     f_1      f_2      f_3     f_4  \
time_id investment_id
0       1             -0.3008  0.9326  0.1137 -0.40200  0.37840 -0.2040
        1000           0.4110  0.8810 -1.8955  1.08200 -0.58540 -0.6035
1       1             -0.9170  0.3735  0.2964  0.01910 -0.03183 -0.2220
        1000          -0.2072  0.6800 -2.0500  1.15900 -0.61230 -0.5947
2       1             -0.4802 -0.8345  0.3052  0.05762 -0.19320 -0.1744

                          f_5     f_6     f_7     f_8  ...    f_290  f_291  \
time_id investment_id                                  ...
0       1             -0.4136  0.9660  1.2300  0.1148  ...  0.36600 -1.096
        1000           1.4890 -0.8486  0.7500  0.1148  ...  0.82200 -1.096
1       1             -0.2000  1.3250  1.2680  0.1652  ...  0.23510 -1.082
        1000           1.2320 -0.8820  0.7705  0.1652  ...  1.23700 -1.082
2       1              0.2206  1.1370  1.2840  0.1381  ...  0.06915 -1.283

                          f_292   f_293   f_294   f_295   f_296   f_297  \
time_id investment_id
0       1              0.200100  0.8193  0.9414 -0.0868 -1.0870 -1.0450
        1000           0.003477 -1.2210  0.9414 -0.6265  0.1049 -0.6530
1       1              0.645500  0.5810  0.8390 -0.3623  1.2295 -1.3010
        1000          -0.389000 -1.7210 -1.1890 -0.6300  1.2295 -0.6914
2       1              0.416500  0.7340  0.7085 -0.3184  1.3080 -0.8640

                        f_298   f_299
time_id investment_id
0       1             -0.2876  0.3215
        1000          -0.0637 -0.5933
1       1             -0.3916  0.3303
        1000          -0.7040 -0.6130
2       1             -0.4788  0.2913

[5 rows x 301 columns]

In [3]:
y = df.pop("target")
features = [f'f_{i}' for i in range(300)]
X = df[features]
X.describe()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_290,f_291,f_292,f_293,f_294,f_295,f_296,f_297,f_298,f_299
count,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,...,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000,2187.000000
mean,0.058028,-0.038853,0.400197,-0.103490,-0.364166,-0.062011,0.091695,0.696801,0.168092,-0.047641,...,0.002576,-0.311279,-0.164765,-0.017768,-0.010097,-0.466579,-0.073708,0.000079,0.136802,-0.468965
std,1.029295,1.129211,0.924235,0.802427,0.204858,1.101074,1.077779,0.664769,0.518049,1.100279,...,1.086431,1.007720,0.941089,1.083606,1.110029,0.551259,1.090483,1.063144,1.240029,0.285567
min,-7.984000,-3.506000,-3.064000,-1.594000,-0.739300,-3.826000,-3.807000,-1.519000,-15.620000,-3.867000,...,-6.250000,-5.300000,-2.842000,-10.900000,-5.060000,-2.270000,-4.242000,-2.818000,-3.398000,-1.014000
25%,-0.342200,-0.812500,-0.187650,-0.530150,-0.541750,-0.781500,-0.708450,0.292850,0.121400,-0.864350,...,-0.549150,-0.974000,-0.756650,-0.142700,-0.925500,-0.683000,-1.005500,-0.717000,-0.903800,-0.654000
50%,0.290300,-0.131500,0.431600,-0.291500,-0.395500,-0.086800,0.134400,0.635300,0.172900,-0.062740,...,0.088440,-0.578600,-0.322500,0.208400,0.223000,-0.552700,-0.061460,-0.160300,0.283000,-0.531000
75%,0.691900,0.636200,1.046500,0.049470,-0.213000,0.652300,0.904150,1.057500,0.251350,0.804850,...,0.675650,0.562000,0.217600,0.491000,0.853500,-0.356500,0.905750,0.579600,1.175000,-0.369300
max,3.010000,5.258000,3.889000,5.770000,0.381300,4.535000,3.457000,2.682000,2.560000,3.396000,...,4.777000,2.885000,5.574000,2.996000,3.680000,9.875000,3.150000,5.086000,3.957000,1.520500

In [4]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

from sklearn.model_selection import TimeSeriesSplit, cross_validate, GridSearchCV
from sklearn.metrics import make_scorer, mean_squared_error
from scipy.spatial.distance import correlation

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import Ridge,Lasso
from lightgbm import LGBMRegressor

In [5]:
def evaluate_model(model, X, y, test_size=0.2):
    cv = TimeSeriesSplit(n_splits=10)
    scorer = make_scorer(mean_squared_error, greater_is_better=False, squared=True)
    return np.mean(cross_validate(model, X, y, cv=cv, scoring=scorer, n_jobs=1)['test_score'])

In [6]:
pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ('model', DecisionTreeRegressor())
])
evaluate_model(pipeline, X, y)

-2.2373693509325756

In [7]:
pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ('model', RandomForestRegressor(n_estimators=1000,max_depth=1))
])
evaluate_model(pipeline, X, y)

-0.7417856831295528

In [37]:
pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ('model', AdaBoostRegressor(n_estimators=1000))
])
evaluate_model(pipeline, X, y)

-0.8441515172066387

In [9]:
pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ("pca", PCA(10)),
    ('model', Ridge(alpha=.1))
])
evaluate_model(pipeline, X, y)

-0.7516273821935283

In [10]:
pipeline = Pipeline([
    ('model', Lasso(alpha=.1))
])

evaluate_model(pipeline, X, y)

-0.7369792201156937

In [11]:
pipeline = Pipeline([
    ("scaler", StandardScaler()),
    ('model', Lasso(alpha=.1))
])

evaluate_model(pipeline, X, y)

-0.7368009722193494

In [60]:
pipeline = Pipeline([
    ('model', LGBMRegressor(
        learning_rate = 0.01,
        n_estimators = 100,
        n_jobs= -1))
])
evaluate_model(pipeline, X, y)

-0.7479753849049104

In [61]:
LGBMRegressor().get_params()

{'boosting_type': 'gbdt',
 'class_weight': None,
 'colsample_bytree': 1.0,
 'importance_type': 'split',
 'learning_rate': 0.1,
 'max_depth': -1,
 'min_child_samples': 20,
 'min_child_weight': 0.001,
 'min_split_gain': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'num_leaves': 31,
 'objective': None,
 'random_state': None,
 'reg_alpha': 0.0,
 'reg_lambda': 0.0,
 'silent': 'warn',
 'subsample': 1.0,
 'subsample_for_bin': 200000,
 'subsample_freq': 0}

In [63]:
pipeline = Pipeline([
    ('model', LGBMRegressor())
])
cv = TimeSeriesSplit(n_splits=10)
scorer = make_scorer(mean_squared_error, greater_is_better=False, squared=True)
search = GridSearchCV(pipeline, {
    'model__num_leaves': [16, 32, 64],
    'model__learning_rate':[0.1, 0.5, 1],
    'model__n_estimators':[50,100,500]
}, scoring=scorer, refit=True, cv=cv, n_jobs=-1)
search.fit(X, y)

GridSearchCV(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=10, test_size=None),
             estimator=Pipeline(steps=[('model', LGBMRegressor())]), n_jobs=-1,
             param_grid={'model__learning_rate': [0.1, 0.5, 1],
                         'model__n_estimators': [50, 100, 500],
                         'model__num_leaves': [16, 32, 64]},
             scoring=make_scorer(mean_squared_error, greater_is_better=False, squared=True))

In [64]:
search.best_params_

{'model__learning_rate': 0.1,
 'model__n_estimators': 50,
 'model__num_leaves': 16}

In [65]:
best_model = search.best_estimator_
evaluate_model(best_model,X,y)

-0.8211981666014904