# Runner Notebook

In [57]:
import papermill as pm
import scrapbook as sb
import pandas as pd
from datetime import datetime, timedelta
import os

In [58]:
base_output_folder = os.path.expanduser('outputs')

if not os.path.exists(base_output_folder):
        os.makedirs(base_output_folder)

In [59]:
connection_string = 'sqlite:///data.db'

In [60]:
ts = pd.read_sql('SELECT DISTINCT ts FROM ohlc', connection_string)
ts['ts'] = pd.to_datetime(ts['ts'])

ts = ts['ts']

In [61]:
to_date = ts.iloc[-1]
from_date = to_date - timedelta(days=7 * 2)

In [62]:
tokens = pd.read_sql('SELECT DISTINCT token FROM ohlc', connection_string)
tokens = tokens.token.to_list()

In [63]:
for token in tokens:
    print(f'running for {token} for date {from_date} to {to_date}', end='\r')
    res = pm.execute_notebook(
        'template_HW4_Benjamin_Myara.ipynb',
        f'{base_output_folder}/market_analysis_{token}_{from_date}.ipynb',
        parameters = {
            'from_date': f'{from_date}',
            'to_date': f'{to_date}',
            'token': token,
            'connection_string': connection_string,
        }
    )

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

Input notebook does not contain a cell with tag 'parameters'

Executing:   0%|          | 0/32 [00:00<?, ?cell/s]

In [64]:
nbs = sb.read_notebooks('outputs')

In [65]:
pd.DataFrame([
    pd.Series({
        'token': scrap['token'].data,
        'from_date': scrap['from_date'].data,
        'to_date': scrap['to_date'].data,
        'return': scrap['prices'].data['close'].mean(),
        'volatility': scrap['prices'].data['volatility'].mean(),
        'last close - first close': scrap['prices'].data['close'].iloc[-1] - scrap['prices'].data['close'].iloc[0]}) 
    for _, scrap in nbs.notebook_scraps.items()
])

,token,from_date,to_date,return,volatility,last close - first close
0,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
1,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
2,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
3,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
4,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
5,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
6,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
7,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
8,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
9,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02
10,BTC,2021-11-05,2021-11-12,64250.753393,0.095865,3759.02